# Configuración de ejemplo para variables de entorno

# Database
DB_URL=jdbc:postgresql://localhost:5432/vehicles
DB_USER=postgres
DB_PASSWORD=1234

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_QUEUE_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_VEHICLE_QUEUE=vehicle-service-queue
RABBITMQ_RPC_TIMEOUT_MS=8000
